<div class="student_content">
    <p class="username">{{fullName}}</p>
    <script>
        async function submit(fullName, teacherName, lessonName, isReply) {
            if (isReply) {
                await fetch(`/api/answer/${teacherName}/${lessonName}/${fullName}`);
            } else {
                await fetch(`/api/question/${teacherName}/${lessonName}/${fullName}`);
            }
        }

    </script>
        <div class="top">
            <img src="/Ahaha.jpg" alt="Мем: табличка 'Хочу ответить'" class="mem">
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-success reply" onclick="submit('{{fullName}}', '{{teacherName}}', '{{lessonName}}', true)"></button>
            <button type="button" class="btn btn-info ask" onclick="submit('{{fullName}}', '{{teacherName}}', '{{lessonName}}', false)"></button>
        </div>
</div>
