<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <script>

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }


        function increasePoints(name) {
            let pointsToAdd = document.getElementById(name+"points");
            pointsToAdd.innerHTML = Number(pointsToAdd.innerHTML) + 1;
        }
        function saveResults() {
            //console.log("saved");
            let results= "";

            let rows = document.getElementsByClassName("rows");
            for(let row of rows){
                let name = row.getElementsByClassName("name")[0].innerHTML;
                let points = row.getElementsByClassName("points")[0].innerHTML;
                let personResult = name + ":" + points + "\n";
                //console.log(personResult);
                results+=personResult;
            }

            download("lessonResult.txt",results);
        }

    </script>
</head>
<body>
<H1>Занятие: {{lessonName}}</H1>
<div><a href="{{link}}">Ссылка для студентов</a></div>
<table class="minimalistBlack">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Хочет спросить</th>
        <th>Хочет ответить</th>
        <th>Баллы</th>
        <th>Лайк</th>
    </tr>
    </thead>
    <tbody>
    {{#each students}}
        <tr class="rows">
            <td class="name">{{name}}</td>
            {{#if question}}
                <td style="background-color: green">Да</td>
            {{else}}
                <td>Нет</td>
            {{/if}}
            {{#if answer}}
                <td style="background-color: green">Да</td>
            {{else}}
                <td>Нет</td>
            {{/if}}
            <td class="points" id="{{name}}points">{{points}}</td>
            <td>
                <input class="likeButton" type="button" value="Like" onclick="increasePoints('{{name}}')">
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<input class="saveButton" type="button" value="Сохранить результаты" onclick="saveResults()">
</body>
</html>